**Francisco Leonid Galvez Flores**

 **A01174385**

# **Introduccion:**

*   python → Entrar desde la terminal de Windows
*   python3 → Entrar desde la terminal de Ubuntu

In [ ]:
print("Hola mundo")

Hola mundo

El siguiente comando sirve parar borrar todas las variables de la memoria.

In [ ]:
%reset -f

## **Variables:**

En la nomenclatura de Python las constantes se representan en mayusculas:

In [ ]:
CONSTANTE = "Soy una constante"

Para declarar una variable normal en Python que lleve mas de una palabra, como por ejemplo el "Nombre del tutor" usamos la 'snake_case'; por lo que hariamos uso de '_' y la variable se llamaria "nombre_tutor":

In [ ]:
nombre_tutor = "Codi"

In [ ]:
print(nombre_tutor)
print(CONSTANTE)

Codi
Soy una constante

In [ ]:
%reset -f

## **Asignacion:**

Una forma de declarar las variables en Python es la siguiente, como podremos observar a manera de comentario del lado derecho tenemos el tipo de dato de cada variable:

In [ ]:
valor_uno = 10 # Int
valor_dos = "Codi" # String
valor_tres = 10*20 # Operacion aritmetica
valor_cuatro = 10.5 # Float
valor_cinco = 10/3 # Float
valor_seis = True # Bool

Otra posiblidad de declarar variables en Python es la siguiente:

In [ ]:
titulo, nombre, apellido = "Ing.", "Francisco", "Galvez"

In [ ]:
print(titulo)
print(nombre)
print(apellido)

Ing.
Francisco
Galvez

Es recomendable que al usar el segundo metodo no se declaren demasiadas variables, de lo contrario el codigo perdera legibilidad:

In [ ]:
valor_uno, valor_dos, valor_tres, valor_cuatro, valor_cinco, valor_seis = 10, "Codi", 10*20, 10.5, 10/3, True

In [ ]:
print(valor_uno)
print(valor_dos)
print(valor_tres)
print(valor_cuatro)
print(valor_cinco)
print(valor_seis)

10
Codi
200
10.5
3.3333333333333335
True

Para poder imprimir comillas dentro de una indicacion 'print()' lo que hacemos es usar unas comillas diferentes a las del print dentro del texto a imprimir:

In [ ]:
# Imprimiendo comillas simples
print("'Hola, bienvenido al curso de CodigoFacilito'")

# Imprimiendo comillas dobles
print('"Hola, bienvenido al curso de CodigoFacilito"')

'Hola, bienvenido al curso de CodigoFacilito'
"Hola, bienvenido al curso de CodigoFacilito"

Ahora, si queremos asignarle a una variable un texto con saltos de linea, lo hariamos haciendo uso de triple comillas dobles o triple comillas simples:

In [ ]:
mensaje_largo_dobles = """ 
                           Te encuentras en los apuntes
                           del curso de python profesional
                           impartido por CodigoFacilito
                        """

mensaje_largo_simples = '''
                           Te encuentras en los apuntes
                           del curso de python profesional
                           impartido por CodigoFacilito
                        '''

In [ ]:
print(mensaje_largo_dobles)
print(mensaje_largo_simples)

                           Te encuentras en los apuntes
                           del curso de python profesional
                           impartido por CodigoFacilito


                           Te encuentras en los apuntes
                           del curso de python profesional
                           impartido por CodigoFacilito

En dado caso que estemos trabajando con operaciones numericas y querramos hacer una division y esta de como resultado un numero decimal, pero a nosotros lo que nos interesa es solamente el numero entero hacemos uso de la doble diagonal '//', esto hara la division dandonos como resultado solo el numero entero:

In [ ]:
division = 10 // 3
print(division)

3

Ahora bien, en dado caso de que querramos solamente saber el residuo/sobrante de una division de manera que esta no genere decimales usamos el operador '%':

In [ ]:
division = 10 % 3 
print(division)

1

In [ ]:
division = 10 % 4
print(division)

2

Por ejemplo en el numero 10, el valor 4 solo entra 2 veces por lo que sobran dos y en el caso del numero 3 este entra 3 veces y sobra 1.

In [ ]:
%reset -f

Las variables en Python disponen de algo llamado tipado dinamico, lo cual permite que durante el tiempo de compilacion una misma variable pueda guardar diferentes tipos de valores en diferentes puntos de la compilacion:

In [ ]:
# Originalmente es un string
valor = "Francisco"
print(valor)
print(type(valor))

# Lo convertimos a int
valor = 123
print(valor)
print(type(valor))

# Lo convertimos a float
valor = 3.4
print(valor)
print(type(valor))

# Lo convertimos a booleano
valor = True
print(valor)
print(type(valor))

# Lo convertimos de nuevo en int
valor = 10*20
print(valor)
print(type(valor))

# Lo convertimos a string de nuevo
valor = "Un string de nuevo"
print(valor)
print(type(valor))

Francisco
<class 'str'>
123
<class 'int'>
3.4
<class 'float'>
True
<class 'bool'>
200
<class 'int'>
Un string de nuevo
<class 'str'>

Como podemos observar en el codigo anterior durante diferentes puntos de la compilacion la variable valor cambio su tipo de dato, esto lo pudimos confirmar gracias a la funcion 'type' la cual nos permite saber el tipo de dato que esta almacenando nuestra variable en ese momento, para este caso lo usamos para visualizar de una mejor manera el tipado dinamico.

In [ ]:
%reset -f

## **Operadores:**

Para esta subseccion usaremos como ejemplo las siguientes variables:

In [ ]:
variable_uno = 10
variable_dos = 18

En Python disponemos de seis operadores relacionales, con la ayuda de estos es que obtenemos una salida del tipo booleano, que como sabemos el tipo booleano solo puede almacenar un 'True' o un 'False':

In [ ]:
mayor = variable_uno > variable_dos         # >
menor = variable_uno < variable_dos         # <
mayor_igual = variable_uno >= variable_dos  # >=
menor_igual = variable_uno <= variable_dos  # <=
igual = variable_uno == variable_dos        # ==
diferente = variable_uno != variable_dos    # !=

In [ ]:
print(mayor)
print(menor)
print(mayor_igual)
print(menor_igual)
print(igual)
print(diferente)

False
True
False
True
False
True

En Python de igual manera disponemos de operadores logicos, estos son solamente 3 y son los siguientes:


*   AND
*   OR
*   NOT

### **AND:**

Con el operador logico 'AND' ambos elementos a comparar deberan ser del mismo tipo o verdaderas para que el resultado siga siendo el mismo tipo/verdadero, por ejemplo:

In [ ]:
True and True

True

In [ ]:
False and False

False

In [ ]:
diferente = True
resultado = True and True and diferente  # 'Sale verdadero'
print(resultado)

True

In [ ]:
resultado = True and True and 5==5 # 'Sale verdadero'
print(resultado)

True

Para este caso basta con que uno de los elementos a comparar sea diferente o no sea verdadero para que el resultado final sea falso:

In [ ]:
mayor = False
resultado = True and True and mayor  # 'Sale falso'
print(resultado)

False

In [ ]:
resultado = True and True and 10 > 20 # 'Sale falso'
print(resultado)

False

### **OR:**

Al usar el operador logico 'OR' basta con que uno de los elementos a comparar sea verdadero para que salga verdadero:

In [ ]:
False or False

False

In [ ]:
True or False

True

In [ ]:
mayor = False
resultado = True or True or mayor  # 'Sale True'
print(resultado)

True

In [ ]:
resultado = 10 > 100 or True or mayor  # 'Sale True'
print(resultado)

True

In [ ]:
resultado = 10 > 100 or  False or mayor  # 'Sale False'
print(resultado)

False

### **NOT:**

Al usar el operador logico 'NOT' los elementos daran como resultado verdadero si el operador es falso y falso si el operador es verdadero:

In [ ]:
resultado = not False  # 'Sale verdadero'
print(resultado)

True

In [ ]:
resultado = not(5 > 10) # 'Sale verdadero'
print(resultado)

True

In [ ]:
resultado = not True
print(resultado)  # 'Sale falso'

False

In [ ]:
resultado = not(10 > 5)
print(resultado)

False

### **Nota:**

Cabe mencionar que estos operadores logicos pueden ser combinados dentro de una misma sentencia, esto mediante el uso de parentesis para asi no perder jerarquia:

In [ ]:
resultado = not(True and (False or 5 > 10))
print(resultado)

True

### **is:**

'is' es una palabra reservada de Python la cual permite comparar si dos valores son iguales:

In [ ]:
precio_uno = 15
precio_dos = 15
igualdad = precio_uno is precio_dos
print(igualdad)

True

In [ ]:
precio_uno = "Francisco"
precio_dos = "Francisco"
igualdad = precio_uno is precio_dos
print(igualdad)

True

En Python, "is" y "==" son operadores de comparación que se utilizan para comparar dos objetos.

*   "is" se utiliza para comprobar si dos variables apuntan al mismo objeto en la memoria. Por ejemplo, si "a" y "b" son variables que apuntan al mismo objeto, entonces "a is b" será "True".


```
a = [1, 2, 3]
b = a
print(a is b)  # True, ya que a y b apuntan al mismo objeto en la memoria
```


*   "==" se utiliza para comprobar si dos variables tienen el mismo valor, aunque no sean el mismo objeto en la memoria. Por ejemplo, si "a" y "b" son variables que contienen el mismo valor, entonces "a == b" será "True".


```
a = [1, 2, 3]
b = [1, 2, 3]
print(a == b)  # True, ya que a y b tienen los mismos valores
```

Si al bloque de codigo anterior le aplicamos la palabra reservada 'IS':
```
print(a is b) # False
```
Nos dara como resultado 'False' debido a que si bien contienen lo mismo, a tiene un espacio en memoria y b dispone de otro.
```
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b) # False
```

En resumen, "is" se utiliza para comparar la identidad de dos objetos, es decir, si son el mismo objeto en la memoria, mientras que "==" se utiliza para comparar la igualdad de dos objetos, es decir, si tienen el mismo valor aunque no sean el mismo objeto en la memoria.

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b)

False

In [ ]:
%reset -f

## **Entradas:**

Mediante la funcion 'input()' podemos pedirle informacion/datos al usuario; esta nos va a regresar  un valor de tipo String, en dado caso de que necesitemos trabajar con otro tipo de dato lo que haremos sera convertir este String al tipo de dato que vayamos a usar:

In [ ]:
input("Ingresa tu nombre completo: ")

Ingresa tu nombre completo: Francisco Galvez

'Francisco Galvez'

In [ ]:
nombre_completo = input("Ingresa tu nombre completo: ")
print(nombre_completo)

Ingresa tu nombre completo: Francisco Galvez
Francisco Galvez

In [ ]:
print("Cual es tu nombre:")
nombre_completo = input()

Cual es tu nombre:
Francisco Galvez

La funcion input siempre nos data como respuesta una cadena de caracteres(un String):

In [ ]:
nombre_completo = input("Ingresa tu nombre completo: ")
print(type(nombre_completo))

Ingresa tu nombre completo: Francisco Galvez
<class 'str'>

In [ ]:
nombre_completo = input("Ingresa tu nombre completo: ")
print(type(nombre_completo))

Ingresa tu nombre completo: Francisco Galvez
<class 'str'>

Ahora bien, si le pedimos al usuario algun dato numerico/booleano, no nos conviene tenerlo en un String por lo que procederemos a cambiar el tipo de dato al mas conveniente:

Estamos convirtiendo el tipo 'String' del 'input()' a un 'Int()':

In [ ]:
edad = int(input("Ingresa tu edad: "))
print(edad)
print(type(edad))

Ingresa tu edad: 18
18
<class 'int'>

In [ ]:
print("Cual es tu edad?")
edad = int(input())
print(edad)
print(type(edad))

Cual es tu edad?
18
18
<class 'int'>

Estamos convirtiendo el tipo 'String' del 'input()' a un 'float()':

In [ ]:
peso = float(input("Ingresa tu peso: "))
print(peso)
print(type(peso))

Ingresa tu peso: 12.3
12.3
<class 'float'>

In [ ]:
print("Cual es tu peso?")
peso = float(input())
print(peso)
print(type(peso))

Cual es tu peso?
12.3
12.3
<class 'float'>

Solicitamos algo al usuario pero sera booleano debido a como tratamos la variable:

In [ ]:
autorizado = input("Estas autorizado para usar el programa(si/no)?")
autorizado = autorizado == "si"  # 'Va a dar TRUE cuando se cumpla la condicion, en este caso que la respuesta sea "=="si"" '
print(autorizado)

Estas autorizado para usar el programa(si/no)?no
False

Otra forma de implementar esta linea de codigo puede ser en unsa sola linea:

In [ ]:
autorizado = input("Estas autorizado para usar el programa(si/no)?") == 'si'
print(autorizado)

Estas autorizado para usar el programa(si/no)?si
True

Ahora vamos a imprimir todos los datos recaudados con anterioridad:

In [ ]:
print("Hola", nombre_completo, "Tu edad es:", edad, "Y tu peso es:", peso)
print("Autorizacion: ", autorizado)
print("\n")

Hola Francisco Galvez Tu edad es: 18 Y tu peso es: 12.3
Autorizacion:  True

Otra forma de solicitar los datos y almacenarlos puede ser la siguiente:

In [ ]:
nombre_completo = input("Cual es tu nombre?\n")  # 'Esto es lo que se usa para hacer un salto de linea en la consola de python '\n' '
edad = int(input("Cual es tu edad?\n"))
peso = float(input("Ingresa tu peso\n"))
autorizado = input("Estas autorizado(si/no)\n") == "si"

Cual es tu nombre?
Francisco Galvez
Cual es tu edad?
22
Ingresa tu peso
103.5
Estas autorizado(si/no)
si

En python usamos la coma o el signo mas para concatenar.

In [ ]:
print("Hola:", nombre_completo)
print("Tu edad es:", edad)
print("Tu peso es:", peso)
print("Autorizado", autorizado)

Hola: Francisco Galvez
Tu edad es: 22
Tu peso es: 103.5
Autorizado True

In [ ]:
%reset -f

## **Comentarios:**

Este es un comentario de una linea:

In [ ]:
# Este es un comentario de una linea
print("Hola mundo")

Hola mundo

Este es un comentario con saltos de linea:

In [ ]:
"""
Este es un
comentario
con saltos de linea
"""

resultado = 20*20
print(resultado)

400

In [ ]:
%reset -f

# **Listas:**

Para declarar una lista en Python, disponemos de dos opciones:

In [ ]:
lista = list()

In [ ]:
lista = []

Recordemos que el formato de una lista es el siguiente:

In [ ]:
# 'Nombre de la variable, signo igual, corchetes'
lista = ["Eduardo", 23, True, 19.5]  # 'Lista con un tamaño de cuatro'
#         0         1   2     3

El orden de los indices de la lista empieza desde el numero 0; 0 1 2 3.

Las listas se parecen a arreglos, con la diferencia de que una lista puede ir cambiando su tamaño durante la ejecucion.

Si bien las listas nos permiten mezclar los elementos a almacenar, como en la lista anterior que mezclamos un string, con un int, con un booleano y con un float, lo recomendable y mas comun es crear listas de un solo tipo, una lista solo de strings, una lista de solo boleanos, etc.

In [ ]:
lista_strings = ["Ingeniero", "Francisco", "Leonid", "Galvez", "Flores"]
lista_enteros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista_floats = [1.5, 3.2, 10/3, 4,8]
lista_booleanos = [True, (2<10), (4>3 and 10 != 11), False]

De esta forma evitamos posibles errores al momento de ejecucion del codigo y de igual manera estandarizamos la codificacion.

Todos los valores almacenados dentro de una lista disponen de una posicion en esta, a esta posicion se le conoce como indice, y mediante este podemos obtener, actualizar y eliminar elementos dentro de la lista.

In [ ]:
lista_enteros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(len(lista_enteros))

10

## **Ejercicios de la leccion ""Listas"":**

Para esto declararemos la lista con la que estaremos trabajando, la cual contendra datos del tipo string:

In [ ]:
lista_cursos = ["Python", "Django", "Flask", "C", "C++", "C#", "Java", "PHP"]
#                0         1         2        3    4      5     6       7
#               -8        -7        -6       -5   -4     -3    -2      -1

En el siguiente ejemplo obtendremos el primer elemento de la lista, el cual tiene el indice '0':

In [ ]:
primer_curso = lista_cursos[0]
print(primer_curso) # Al ejecutar se imprime en pantalla 'Python'

Python

Ahora para obtener el segundo elemento de la lista, tendriamos que llamar al indice numero '1' de la lista, recordando que el orden de los indices de la lista empieza desde el numero 0; 0 1 2 3.

In [ ]:
segundo_curso = lista_cursos[1]
print(segundo_curso) # Al ejecutar se imprime en pantalla 'Django'

Django

De igual manera si quisieramos obtener el ultimo elemento de la lista, podemos trabajar con indices neagativos, por ejemplo si ponemos que el idice sea (-1), este nos dara el ultimo elemento de la lista, si ponemos (-2), nos dara el penultimo, con (-3) el antepenultimo, por lo que podemos recorrer la lista a la inversa.

In [ ]:
ultimo_curso = lista_cursos[-1]
print(ultimo_curso) # Al ejecutar se imprime en pantalla 'PHP'

PHP

Para acceder al primer curso en la lista de cursos mediante indices negativos hariamos lo siguiente:

In [ ]:
primer_curso= lista_cursos[-8]
print(primer_curso) # Al ejecutar se imprime en pantalla 'Python'

Python

Si ponemos un indice que no exista, nosotros obtendremos un error, el cual es muy descriptivo mediante la terminal, por lo que no podemos obtener un valor a partir de un indice que no existe.


```
primer_curso= lista_cursos[-9]
print(primer_curso) # Indice que no existe
```
```
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-60-8a3d60f008e1> in <module>
----> 1 primer_curso= lista_cursos[-9]
      2 print(primer_curso)

IndexError: list index out of range
```

Para cambiar los datos dentro de una lista se indica el indice de la lista al cual queremos acceder y se cambia su valor:


```
lista_cursos = ["Python", "Django", "Flask", "C", "C++", "C#", "Java", "PHP"]
#                0         1         2        3    4      5     6       7
#               -8        -7        -6       -5   -4     -3    -2      -1
```

In [ ]:
print(lista_cursos)

['Python', 'Django', 'Flask', 'C', 'C++', 'C#', 'Java', 'PHP']

Asi podemos cambiar el dato de un indice en especifico perteneciente a una lista:

In [ ]:
lista_cursos[7] = "Rust" # Cambiamos PHP por Rust

In [ ]:
print(lista_cursos)

['Python', 'Django', 'Flask', 'C', 'C++', 'C#', 'Java', 'Rust']

Por lo que despues de esto la lista quedaria asi:

```
lista_cursos = ["Python", "Django", "Flask", "C", "C++", "C#", "Java", "Rust"]
#                0         1         2        3    4      5     6       7
#               -8        -7        -6       -5   -4     -3    -2      -1
```

Podemos modificar cualquier indice dentro de la lista, recordemos que una lista es dinamica, puede aumentar o decrecer su tamaño durante el tiempo de ejecucion.

## **Sublistas:**

Una sublista es una lista creada con elementos de la primera lista.

Dentro de los corchetes colocamos el indice en el cual iniciara nuestra sublista, seguido de dos puntos (:) y luego colocamos el indice en el cual terminara nuestra sublista(al imprimir se quedara hasta uno antes del indice final), la sintaxis seria ('indice de origen' : 'indice final'). Recordando que no tomara el valor del indice final, si no el valor del indice anterior al final que establecimos.

Nuestra lista nos mostrara los elementos de la lista empezando por el indice de origen y nos mostrara hasta un elemento antes del indice final.

Si queremos partir del indice 0, tambien podemos usar la siguiente sintaxis (:n) donde el numero 'n' seria el valor anterior al indice en el cual terminara nuestra sublista.

Si queremos obtener todos los elementos a partir de un indice en especifico seria la siguiente sintaxis (n:), donde el numero 'n' seria el indice a partir del cual empezara nuestra sublista.

Si no indicamos ni un indice de partida ni un indice final, la sublista nos mostraria toda la lista completa si ninguna modificacion, la sintaxis seria (:).

Estas son las formas en las cuales nosotros podemos crear una nueva lista a partir de otra.

*   [:] Todos los elementos.
*   [start:] Todos los elementos desde el índice establecido(start).
*   [:end] Todos los elementos desde el índice cero hasta uno antes del *   índice establecido(end).
*   [start:end] Todos los elementos de un rango de índices.
*   [start:end:step] Todos los elementos de un rango de índices con saltos.

De igual forma, este listado es aplicable a las tuplas y los strings.

In [ ]:
print(lista_cursos)

['Python', 'Django', 'Flask', 'C', 'C++', 'C#', 'Java', 'Rust']

```
lista_cursos = ["Python", "Django", "Flask", "C", "C++", "C#", "Java", "Rust"]
#                0         1         2        3    4      5     6       7
#               -8        -7        -6       -5   -4     -3    -2      -1
```

### **[:]**

Ejemplo con todos los elementos:

[:] Todos los elementos.

In [ ]:
sublista_cursos = lista_cursos[:]
print(sublista_cursos)

['Python', 'Django', 'Flask', 'C', 'C++', 'C#', 'Java', 'Rust']

Lista original:
```
lista_cursos = ["Python", "Django", "Flask", "C", "C++", "C#", "Java", "Rust"]
#                0         1         2        3    4      5     6       7
#               -8        -7        -6       -5   -4     -3    -2      -1
```
Sublista:

```
sublista_ cursos = ['Python', 'Django', 'Flask', 'C', 'C++', 'C#', 'Java', 'Rust']
```
Obviamente no varia debido a que establecimos que la sublista sea toda la lista con '[:]'.

### **[start:]**

Ejemplo con todos los elementos desde el índice establecido(start):

[start:] Todos los elementos desde el índice establecido(start).

In [ ]:
sublista_cursos = lista_cursos[3:]
print(sublista_cursos)

['C', 'C++', 'C#', 'Java', 'Rust']

Lista original:
```
lista_cursos = ["Python", "Django", "Flask", "C", "C++", "C#", "Java", "Rust"]
#                0         1         2        3    4      5     6       7
#               -8        -7        -6       -5   -4     -3    -2      -1
```
Sublista:

```
sublista_ cursos = ['C', 'C++', 'C#', 'Java', 'Rust']
```
Como podemos ver la sublista se crea desde el indice 3 hasta que finaliza, esto debido a que usamos '[start:]'.

### **:end**

Ejemplo con todos los elementos desde el índice cero hasta uno antes del índice establecido(end):

[:end] Todos los elementos desde el índice cero hasta uno antes del * índice establecido(end).

In [ ]:
sublista_cursos = lista_cursos[:3]
print(sublista_cursos)

['Python', 'Django', 'Flask']

Lista original:
```
lista_cursos = ["Python", "Django", "Flask", "C", "C++", "C#", "Java", "Rust"]
#                0         1         2        3    4      5     6       7
#               -8        -7        -6       -5   -4     -3    -2      -1
```
Sublista:

```
sublista_ cursos = ['Python', 'Django', 'Flask']
```
Como podemos ver la sublista se crea desde el indice 0 hasta el valor que tiene el indice anterior al establecido como end, esto debido a que usamos '[:end]'.

### **[start:end]**

Ejemplo con todos los elementos de un rango de índices:

[start:end] Todos los elementos de un rango de índices.

In [ ]:
sublista_cursos = lista_cursos[1:6]
print(sublista_cursos)

['Django', 'Flask', 'C', 'C++', 'C#']

Lista original:
```
lista_cursos = ["Python", "Django", "Flask", "C", "C++", "C#", "Java", "Rust"]
#                0         1         2        3    4      5     6       7
#               -8        -7        -6       -5   -4     -3    -2      -1
```
Sublista:

```
sublista_ cursos = ['Django', 'Flask', 'C', 'C++', 'C#']
```
Como podemos ver la sublista se crea desde el indice 1 hasta el valor que tiene
el indice anterior al establecido como end, que en este caso el valor del indice
end es 6, por lo que se quedara en el valor del indice 5,
esto debido a que usamos '[start:end]'.

Si queremos obtener los elementos 2, 3 y 4 de la lista, hariamos algo como esto:

In [ ]:
sublista = lista_cursos[1:4]
print(sublista) #Al ejecutar se imprimira en pantalla 'Python, Django, Flask'

['Django', 'Flask', 'C']

### **Saltos en lista para crear sublistas:**

# **Matrices:**

# **Tuplas:**

# **Strings:**

# **Diccionarios:**

# **Ciclos y condiciones:**

# **Funciones**

# **Clases:**